.collapsible {
    background:transparent;
    color: #fff;
    cursor: pointer;
    padding:10px 40px;
    width: 100%;
    border:2px solid #fff;
    border-radius:50px;
    text-align: left;
    outline: none;
    font-size:18px;   
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition: 0.3s ease-in-out;
    margin: 10px;
}
.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-top: 6px;     
}
.collapsible_tw {
    background:transparent;
    color: #fff;
    cursor: pointer;
    padding:10px 40px;
    width: 100%;
    border:2px solid #6441a5;
    border-radius:50px;
    text-align: left;
    outline: none;
    font-size:18px;   
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition: 0.3s ease-in-out;
    margin: 10px;
}
.collapsible_tw:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-top: 6px;     
}
.collapsible_mx {
    background:transparent;
    color: #fff;
    cursor: pointer;
    padding:10px 40px;
    width: 100%;
    border:2px solid #1cbde6;
    border-radius:50px;
    text-align: left;
    outline: none;
    font-size:18px;   
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition: 0.3s ease-in-out;
    margin: 10px;
}
.collapsible_mx:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-top: 6px;   
}
.collapsible_yt {
    background:transparent;
    color: #ff0000;
    cursor: pointer;
    padding:10px 40px;
    width: 100%;
    border:2px solid #ff0000;
    border-radius:50px;
    text-align: left;
    outline: none;
    font-size:18px;   
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition: 0.3s ease-in-out;
    margin: 10px;
}
.collapsible_yt:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-top: 6px;     
}
.active, .collapsible_tw:hover, .collapsible_mx:hover, .collapsible_yt:hover, .collapsible:hover {
    background: #fff;
    color: #111;
}
.active:after {
    content: "\2796";
}
.content {
    padding: 40px 40px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: none;
    overflow: hidden;
    background: #000;
}
.content1 {
    padding: 40px 40px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: none;
    overflow: hidden;
    background: #000;
}
.btn_one {
    color: #ffffff;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin: 10px; 
}
.btn_one.active {
    color: #ffffff;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    background: #264d73;
    transition:0.4s ease-in-out;
    margin: 10px; 
}
.btn_one:hover {
    background: #ffffff;
    cursor: pointer;
    color: #000;
}
.btn_xb {
    color: #0e7a0d;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #0e7a0d;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition:0.4s ease-in-out;
    margin: 10px;
    background: transparent;
}
.btn_ps {
    color: #003087;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #003087;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition:0.4s ease-in-out;
    margin: 10px;
    background: transparent;
}
.btn_yt {
    color: #ff0000;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #ff0000;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition:0.4s ease-in-out;
    margin: 10px;
    background: transparent;
}
.btn_yt:hover {
    background: white;
    cursor: pointer;
    color: #000;
}
.btn_tw {
    color: #6441a5;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #6441a5;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition:0.4s ease-in-out;
    margin: 10px;
    background: transparent;
}
.btn_tw:hover {
    background: #6441a5;
    cursor: pointer;
    color: white;
}
.btn_mx {
    color: #1cbde6;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #1cbde6;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition:0.4s ease-in-out;
    margin: 10px;
    background: transparent;
}
.btn_mx:hover {
    background: #1cbde6;
    cursor: pointer;
    color: #111;
}
.btn_twitter {
    color: #00aced;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #00aced;
    font-size:18px;
    font-weight:bold;
    transition:0.4s ease-in-out;
    font-family: 'Comfortaa', sans-serif;
    margin: 10px;
    background: transparent;
}
.btn_twitter:hover {
    background: #c0deed;
    cursor: pointer;
    color: #000;
}
.btn_discord {
    color: #7289da;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #2c2f33;
    font-size:18px;
    font-weight:bold;
    transition:0.4s ease-in-out;
    font-family: 'Comfortaa', sans-serif;
    margin: 10px;
    background: transparent;
}
.btn_discord:hover {
    background: #2c2f33;
    cursor: pointer;
    color: #fff;
}
.btn_triumph {
    color: #FFD700;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #FFD700;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition:0.4s ease-in-out;
    margin: 10px;
    background: transparent;
}
.btn_triumph:hover {
    background: #FFD700;
    cursor: pointer;
    color: #000;
}
.btn_member {
    color: lightgrey;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid lightgrey;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition:0.4s ease-in-out;
    margin: 10px;
    background: transparent;
}
.btn_member:hover {
    background: white;
    cursor: pointer;
    color: #000;
}
.btn_contact {
    color: lightgrey;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid lightgrey;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    transition:0.4s ease-in-out;
    margin: 10px;
    background: transparent;
}
.btn_contact:hover {
    background: white;
    cursor: pointer;
    color: #000;
}
.btn_ship {
    color: #ffffff;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin: 10px;
}
.btn_master {
    color: #5AFF4E;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #5AFF4E;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin: 10px;
}
.btn_diamond {
    color: #b9f2ff;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #b9f2ff;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin: 10px;
}
.btn_gold {
    color: #FFD700;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #FFD700;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin: 10px;
}
.btn_silver {
    color: #C0C0C0;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #C0C0C0;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin: 10px;
}
.btn_bronze {
    color: #a46628;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #a46628;
    font-size:18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin: 10px;
}
@media (max-width: 900px){
    .btn_one {
        font-size:14px;
        padding:8px 20px;
    }
    .btn_two {
        font-size:14px;
        padding:8px 20px;
    }
    .btn_social {
        font-size:14px;
        margin:10px;
        padding:10px 11px;
    }
}